h1 {
    color: gold;
}

.img__wrapper {
    width: 175px;
    height: 300px;
    overflow: hidden;
    margin: 30px;

}
.img{
    width: 100%;
    height: 100%; 
    transition: transform (0.5s);
}


.img__wrapper:hover .img {  
    transform: scale(110%);
    

}


    
span {
color: gold;
}
.hilight {
    color: blue;
}

.btn {
    border: 1px;
    color: #fff;
    background: linear-gradient(-45deg, #14f503,#d5f503);
   padding: 10px 10px;
   margin: 15px 15px;
   border-radius: 5px;
   cursor: pointer;
   transition:background-color 2s
}
.btn:hover {
    border-radius: 10px;
    background-color: #f50202;
}
.btn:active {
    background-color: #fff;
}